
# PlanAhead Generated physical constraints 

NET "y[0]" LOC = L13;
NET "y[1]" LOC = L14;
NET "y[2]" LOC = H18;

# PlanAhead Generated IO constraints 

NET "y[2]" IOSTANDARD = LVTTL;
NET "y[1]" IOSTANDARD = LVTTL;
NET "y[0]" IOSTANDARD = LVTTL;
NET "y[2]" PULLUP;
NET "y[1]" PULLUP;
NET "y[0]" PULLUP;

# PlanAhead Generated physical constraints 

NET "clk" LOC = C9;

# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "lcd_e" LOC = M18;

# PlanAhead Generated IO constraints 

NET "lcd_e" DRIVE = 4;
NET "lcd_e" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "lcd_rs" LOC = L18;
NET "lcd_rw" LOC = L17;

# PlanAhead Generated IO constraints 

NET "lcd_rs" IOSTANDARD = LVCMOS33;
NET "lcd_rw" IOSTANDARD = LVCMOS33;
NET "lcd_rs" DRIVE = 4;
NET "lcd_rw" DRIVE = 4;

# PlanAhead Generated physical constraints 

NET "lcd4" LOC = R15;
NET "lcd5" LOC = R16;
NET "lcd6" LOC = P17;
NET "lcd7" LOC = M15;

# PlanAhead Generated IO constraints 

NET "lcd4" IOSTANDARD = LVCMOS33;
NET "lcd5" IOSTANDARD = LVCMOS33;
NET "lcd6" IOSTANDARD = LVCMOS33;
NET "lcd7" IOSTANDARD = LVCMOS33;
NET "lcd4" DRIVE = 4;
NET "lcd5" DRIVE = 4;
NET "lcd6" DRIVE = 4;
NET "lcd7" DRIVE = 4;

# PlanAhead Generated physical constraints 

NET "pb1" LOC = V4;

# PlanAhead Generated IO constraints 

NET "pb1" IOSTANDARD = LVTTL;
NET "pb1" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "pb2" LOC = H13;

# PlanAhead Generated IO constraints 

NET "pb2" IOSTANDARD = LVTTL;
NET "pb2" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "pb3" LOC = K17;
NET "pb4" LOC = D18;

# PlanAhead Generated IO constraints 

NET "pb3" IOSTANDARD = LVTTL;
NET "pb4" IOSTANDARD = LVTTL;
NET "pb3" PULLDOWN;
NET "pb4" PULLDOWN;

NET "pb1" CLOCK_DEDICATED_ROUTE=FALSE;
NET "pb2" CLOCK_DEDICATED_ROUTE=FALSE;
NET "pb3" CLOCK_DEDICATED_ROUTE=FALSE;
NET "pb4" CLOCK_DEDICATED_ROUTE=FALSE;
