//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 28 16:34:33 2019
//! **************************************************************************

SCHEMATIC START;
COMP "y<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "y<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "y<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "y<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "z<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "z<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "z<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "z<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "z<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "z<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "rpb" LOCATE = SITE "V16" LEVEL 1;
PIN rpb_pin<0> = BEL "rpb" PINNAME PAD;
PIN "rpb_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "z<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "pb1" LOCATE = SITE "V4" LEVEL 1;
PIN pb1_pin<0> = BEL "pb1" PINNAME PAD;
PIN "pb1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "pb2" LOCATE = SITE "K17" LEVEL 1;
PIN pb2_pin<0> = BEL "pb2" PINNAME PAD;
PIN "pb2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "pb3" LOCATE = SITE "D18" LEVEL 1;
PIN pb3_pin<0> = BEL "pb3" PINNAME PAD;
PIN "pb3_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "pb4" LOCATE = SITE "H13" LEVEL 1;
PIN pb4_pin<0> = BEL "pb4" PINNAME PAD;
PIN "pb4_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pb3_BUFGP/IBUFG" BEL "pb3_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "rpb_BUFGP/IBUFG" BEL "rpb_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "pb4_BUFGP/IBUFG" BEL "pb4_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "pb1_BUFGP/IBUFG" BEL "pb1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "pb2_BUFGP/IBUFG" BEL "pb2_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

