

NET "inp[3]" LOC = N17;
NET "inp[2]" LOC = H18;
NET "inp[1]" LOC = L14;
NET "inp[0]" LOC = L13;
NET "e" LOC = E11;
NET "g" LOC = E12;
NET "l" LOC = F12;
NET "pb1" LOC = V4;
NET "pb2" LOC = K17;
NET "pb3" LOC = D18;
NET "pb4" LOC = H13;
NET "pb1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pb2" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pb3" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pb4" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated IO constraints 

NET "inp[3]" IOSTANDARD = LVTTL;
NET "inp[2]" IOSTANDARD = LVTTL;
NET "inp[1]" IOSTANDARD = LVTTL;
NET "inp[0]" IOSTANDARD = LVTTL;
NET "inp[3]" PULLUP;
NET "inp[2]" PULLUP;
NET "inp[1]" PULLUP;
NET "inp[0]" PULLUP;
NET "pb1" IOSTANDARD = LVTTL;
NET "pb2" IOSTANDARD = LVTTL;
NET "pb3" IOSTANDARD = LVTTL;
NET "pb4" IOSTANDARD = LVTTL;
NET "pb1" PULLDOWN;
NET "pb2" PULLDOWN;
NET "pb3" PULLDOWN;
NET "pb4" PULLDOWN;
NET "e" IOSTANDARD = LVTTL;
NET "g" IOSTANDARD = LVTTL;
NET "l" IOSTANDARD = LVTTL;
NET "e" DRIVE = 8;
NET "g" DRIVE = 8;
NET "l" DRIVE = 8;
